@import "variables"

.jobs
  .month-header
    margin-top: $margin * 2
    border-top: 2px solid $asbestos

    .month-header-text
      margin: -14px auto $margin
      font-size: 18px
      width: 100px
      text-align: center
      background: #FFF

  .job
    border-radius: 5px
    border: 2px solid $concrete
    padding: 5px 10px
    margin-bottom: $margin

    &.green-job
      background: $nephritis

    &.yellow-job
      background: $sunflower

    &.gray-job
      background: $clouds

    .service-type
      font-size: 18px
      font-weight: bold

    .contacts
      margin-left: 8px

    .job-address, .job-city, .start-time, .end-time
      text-align: right
      font-size: 14px
      line-height: 14px

    .job-address
      font-size: 18px
      line-height: 22px
      font-weight: bold

    .start-time
      margin-top: 5px

.job-form
  #contacts-by-service
    background: $silver
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px

  .job-form-section-title
    font-size: 20px
    font-weight: bold

  .change
    color: $peterriver
    float: right

  .job-form-contact
    .contact-checkbox
      width: 50px
      float: left
    .contact-name
      width: 30%
      float: left
    .contact-email
      width: 35%
      float: left
    .contact-phone
      width: calc(35% - 50px)
      float: left
