@import "variables"
@import "header"
@import "forms"
@import "loading"
@import "connection"
@import "contacts"
@import "homepage"
@import "jobs"
@import "locationspage"

.container
  margin-bottom: $margin

#createbutton
  border: 10px solid #2c3e50
  border-radius: 100px
  background: #bdc3c7
  height: 100px
  width: 100px
  color: #2c3e50
  margin: 75px auto
  text-align: center
  font-size: 65px
  line-height: 80px
  cursor: pointer

  #button-label
    font-size: 15px
    line-height: 20px
    margin-top: 10px

$phone-format-width: 25px

.phone-form-group
  .phone-format
    float: left
    width: $phone-format-width
    text-align: center
    font-size: 24px

  input[type="text"]
    float: left
    text-align: center

    &.area-code
      width: calc(30% - (#{$phone-format-width} * 2))

    &.prefix
      width: calc(33% - #{$phone-format-width})

    &.line
      width: 37%
